//TODO check why we can't use * to get all folder
@import './config/variables.scss';

// Pages
@import './app/home.scss';
@import './app/login.scss';

// Components
@import './components/form.scss';
@import './components/input-text.scss';
@import './components/button/button.scss';
@import './components/userSettings/password-settings.scss';
@import './components/tabs/tabs.scss';
@import './components/tabs/tab.scss';

// Theme
@import '~@fortawesome/fontawesome-svg-core/styles.css';
@import './themes/dark.scss';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $milky-white-color;
    font-family: $text-font;
    font-size: $body-font-size;
    color: $charcoal-darker-color;
}

h1 {
    font-family: $title-font;
    text-transform: uppercase;
    font-size: $title-font-size-xl;
    color: $milky-white-color;
}

.logo {
    filter: $milky-white-color-filter;
    margin-bottom: 50px;
    width: 100%;
}

@media (max-width: $sm) {
    .logo {
        margin-bottom: 30px;
        height: 6%;
    }
}