//TODO check why we can't use * to get all folder
@import './config/variables.scss';
@import './components/home.scss';
@import './components/login-page.scss';
@import '~@fortawesome/fontawesome-svg-core/styles.css';


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $milky-white-color;
    font-family: $text-font;
    font-size: $body-font-size;
    color: $charcoal-darker-color;
    &.dark-mode {
        background-color: $nightblue-darker-color;
        color: $milky-white-color;
    }
}

h1 {
    font-family: $title-font;
    text-transform: uppercase;
    font-size: $title-font-size-xl;
    color: $milky-white-color;
    &.dark-mode {
        color: $charcoal-darker-color; 
    }
}

.logo {
    filter: $milky-white-color-filter;
    width: 60%;
    margin-bottom: 50px;
    &.dark-mode {
        filter: $charcoal-darker-color-filter;
    }
}

@media (max-width: $sm) {
    .logo {
        margin-bottom: 30px;
    }
    .login-miscellaneous-services {
        flex-direction: column;
        & a, span {
            margin-bottom: 10px;
        }
    }
}