.domains-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.domains-cards > div {
  flex-basis: 33.33%;
  flex-grow: 1;
  max-width: calc(33.33% - 1rem);
}
.domains-cards > div:nth-child(3n + 1) {
  flex-grow: 0;
  max-width: 100%;
}

.create-domain-form {
    display: flex;
    background-color: $milky-white-color;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 100%;
    max-width: 708px;
    padding: 0px;
    .user-data-input {
        label {
          color: $charcoal-color;
        }
      }
    .user-data-input input {
      margin: 0px;
      box-shadow: $box-shadow-light;
    }
    &-input-error {
        padding: 1rem;
        background-color: $red-color;
        color: $milky-white-color;
        margin: 1rem 0rem;
        border-radius: $border-radius-sm;
    }
    .add-domain-button {
    margin-top: 10px;
    width: fit-content;
    @include smallbutton;
}
}