.domains-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.date-range-duo{
    display: flex;
   
    justify-content: center;
    gap: 30px;
}
.date-range-picker{
    margin: 50px 0;
    h3{
        @include font($title-font, $title-font-size-md, 400, $nightblue-darker-color, 22px);
    }
}
.date-picker{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        margin-bottom: 10px;
    }
}
.graph-container{
    margin: 30px 0;
}