.user-data-input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    color: $milky-white-color;
    text-transform: capitalize;
    input {
        margin: 3% 0%;
        border: none;
        padding: 1rem;
        border-radius: $border-radius-md;
        background-color: $milky-white-darker-color;
    }
}
