.login-container {
    display: flex;
    border-radius: $border-radius-xl;
    background-color: $charcoal-color;
    position: relative;
    flex-direction: column;
    height: 60%;
    max-height: 510px;
    width: 60%;
    max-width: 708px;
    align-items: center;
    padding: 40px  63px 0 63px;

    &.dark-mode {
        background-color: $milky-white-color;
    }
    .logo{ 
        margin-bottom: 40px
    }
    .login-input {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        color: $milky-white-color;
        text-transform: capitalize;
        label{
            @include font($text-font, 18px, 700, $milky-white-color, 22px);
        }
        input {
            margin-top: 8px;
            margin-bottom: 16px;
            border: none;
            height: 42px;
            border-radius: $border-radius-md;
            background-color: $milky-white-darker-color;
        }
    }
    button {
      @include largebutton;
      margin-top: 14px;
    }
    .login-miscellaneous-services {
        color: $milky-white-color;
        display: flex;
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        .miscellaneous-services-link {
            color: $red-color;
            text-decoration: none;
        }
    }
}
