.navigation {
    position: fixed;
    background-color: $grey-color;
    display: flex;
    transform: unset;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 100%;
    transition: transform 0.3s ease-out;
    transform: translateX(-100%);
    display: block;
    z-index: 9;
    @media (min-width: $md) {
        width: 15%;
        display: flex;
        transform: unset;
    }
    h1{
        position: absolute;
        left: -500000px;
    } 
    
    &_active {
        display: block;
        transform: translateX(0);
    }
    &_header {
        &_logo_container{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 1rem;
    
            @media (max-width: $md) {
                margin-top: 2rem;
            }  
        }
        &_items {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
        }
    }
    &_logo{
        max-width: 15rem;
        width: 100%;
        object-fit: contain;
        display: block;
    }   
    
    &_item {
        width: 100%;
        padding: 12px;
        padding-left: 20px;
        text-decoration: none;
        border-left: 4px solid transparent;
        transition: background-color 0.3s ease, border-left-color 0.3s ease;
        @include font($text-font, $title-font-size-xs, 700, $nightblue-darker-color, 22px);
    
        &_active, &:hover{
            border-left-color: $red-color;
            background-color: $milky-white-darker-color;
        }
    }
    &_userContainer{
        display: flex;
        position: relative;
        align-items: center;
        margin: 0px 10px;
        border-top: 1px solid $charcoal-darker-color;
    } 
    &_user{
        display: flex;
        padding: 20px 0px;
        align-items: center;
        width: 100%;
        text-decoration: none;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 7px;
            background-color: $milky-white-color;
            padding: 3px;
            border: 1px solid $charcoal-darker-color;
        }
        p{
            text-transform: capitalize !important;
            @include font($text-font, $title-font-size-xs, 400, $nightblue-darker-color, 22px);
            text-align: center;
        }
    }   
}





